.label {
    text-transform: uppercase;
    font-size: 12px;
    padding-right: 7px;
    letter-spacing: 2px;
}

.label-wrapper {
    display: flex;
    align-items: center;
    padding: 0 0 26px 0;
}

.label-wrapper:hover {
    cursor: pointer;
}

.list__item {
    list-style: none;
}

.label {
    -webkit-user-select: none;
}