.queries-message {
    display: flex;
    flex-direction: column;
}

.queries-message__text {
    line-height: 1.7;
    padding: 0 3px;
}

.queries-message__text--orange {
    color: #ff4c00;
    background-color: #ffeee6;
    border-radius: 6px;
    padding: 0 7px;
}

.queries-message__text--bold {
    font-weight: 700;
}