.feedback-buttons {
    display: flex;
    justify-content: space-between;
    width: 170px;
}

.feedback-buttons__item {
    width: 50px;
    height: 24px;
    border-radius: 50px;
    border: 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    -webkit-user-select: none;
}

.feedback-buttons__item:hover {
    cursor: pointer;
}

.feedback-buttons__item.active {
    border: 1px solid #ff4c00;
}

.feedback-buttons__img {
    margin-left: 7px;
}

.feedback-buttons__item:last-child {
    justify-content: center;
}

.feedback-buttons__item:last-child img {
    margin-left: 0;
}

.feedback-buttons__count .red {    
    color: #ff4c00;
}

.feedback-buttons__count {
    margin-right: 10px;
    font-weight: 700;
    font-size: 14px;
}