.events-item {
    list-style: none;
    display: flex;
    padding: 14px;
    border-top: 1px solid #dddddd;
    position: relative;
    -webkit-user-select: none;
}

.events-item:hover {
    cursor: pointer;
    background-color:#f8f8f8;
}

.events-item.new {
    border-top: 1px solid #ff3c00;
    background-color: #fef9ec;
}

.events-item__header {
    display: flex;
    padding-bottom: 10px;
}

.events-item__inner {
    padding-left: 10px;
}

.events-item__icon {
    width: 36px;
    height: 36px;
}

.events-item__name {
    font-weight: 800;
}

.events-item__time {
    padding: 0 0 0 13px;
    color: #959595;
}

.events-item.or .events-item__text {
    padding: 10px;
    background-color: rgba(242, 201, 76, .2);
}

.events-item.gr .events-item__text {
    padding: 10px;
    background-color:#f8f8f8;
}

.events-item__block-time {
    display: none;
    min-width: 86px;
    height: 24px;
    color: #ff3c00;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #dddddd;  
    text-align: center;
    line-height: 1.8;
    position: absolute;
    top: -13px;
    left: 20px;
    padding: 0 14px;
    background-color: #ffffff;
    z-index: 2;
}

.events-item.active .events-item__block-time {  
    display: block;
}

.events-item.new .events-item__block-time {
    border: 1px solid #ff3c00;
    display: block;
}