.events-item {
    list-style: none;
    display: flex;
    padding: 14px;
    border-top: 1px solid #dddddd;
}

.events-item__header {
    display: flex;
    padding-bottom: 10px;
}

.events-item__inner {
    padding-left: 10px;
}

.events-item__icon {
    width: 36px;
    height: 36px;
}

.events-item__name {
    font-weight: 800;
}

.events-item__time {
    padding: 0 0 0 13px;
    color: #959595;
}

.events-item.or .events-item__text {
    padding: 10px;
    background-color: rgba(242, 201, 76, .2);
}

.events-item.gr .events-item__text {
    padding: 10px;
    background-color:#f8f8f8;
}

.events-item.or {
    background-color: #fef9ec;
}

.events-item.gr {
    background-color:#f8f8f8;
}