.headline-title {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.headline-title__title {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    letter-spacing: 1px;
}

.headline-title__count {
    background-color: #ff0f00;
    color: #ffffff;
    font-weight: 900;
    padding: 1px 7px 2px;
    margin-left: 15px;
    border-radius: 6px;
    line-height: 19px;
}